{% extends 'index.html' %}


{% block content %}
<a href="/"> <- </a>
<h1>Title - {{book.title}}</h1>
<h2>Price - {{book.price}} $</h2>

<div>
    {{book.text}}
</div>


<h1>ADDD COMMENTS!!!!!!!!!!</h1>
{% endblock %}