{% extends 'index.html' %}


{% block content %}
<div class="container">
    <h1>homa page!</h1>
    {% for book in books %}
    <div style="border: 1px solid black;">
        <p style="color: #5311ff;">{{book.title}}</p>
        <p>{{book.price}} $</p>
        <p>
            <a href="/book-info/{{book.id}}" class="btn btn-primary">Read!</a>
        </p>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}