{% extends 'index.html' %}

{% block content %}
<h1>All books {{ list|length }}</h1>
<div class="row">
    {% for object in list %}
    <div class="col-sm-4">
        <div class="alert alert-warning  {{ object.check_sale }}">#{{ forloop.counter }}
            {% if object.document %}
            Есть вложения!
            {% endif %}
        </div>
        <div class="card-body">
            <p class="card-text">{{ object.title }}</p>
        </div>
        {% if object.genre %}
        <p>Жанр - {{ object.get_genre_display }}</p>
        {% endif %}
        {# <a href="/book-info/{{ book.id }}">read more...</a>#}
        {% if user == 'true' %}
        <p>Author is {{ object.author }}</p>
        {% endif %}
        <div class="">
            <h1>{{url_object}}</h1>
            <form action="/user/set-to-wish-list/" method="get">
                <input type="hidden" name="article_id" value={{ object.id }}>
                <button class="btn btn-success">Отложить на чтение</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}