{% extends 'index.html' %}

{% block content %}
<h1>{{article.title}}</h1>
<h2>Author - {{article.author}}</h2>
<h3>{{article.create_at}}</h3>

<div>
    {{article.content}}
</div>

<hr>
<h5>Comments</h5>

{% for comment in article.comments.all %}
<div>
    {{comment}}
</div>

{% empty %}
<h3>No comments....</h3>
{% endfor %}

{% endblock %}