{% extends 'auth_app/cabinet.html' %}
{% block right_col %}
<style>
    .article-row {
        display: flex;
        align-items: center;
        border-bottom: 1px solid black;
    }

    .col {
        width: 20%;
        padding: 12px;
    }

    .article-row:nth-child(odd) {
        background: gainsboro;
    }
</style>
<h1>My articles <span class="js-count">{{ all_articles|length }}</span>!</h1>


<div class="article-wrapper">
    <div class="article-row">
        <div class="col">№</div>
        <div class="col">Text</div>
        <div class="col">Create at</div>
        <div class="col">Publish?</div>
        <div class="col">Actions</div>
    </div>
    <div class="">
        {% for article in all_articles %}
        <div class="article-row">
            <div class="col number">{{ forloop.counter }}</div>
            <div class="col">{{ article.content|truncatechars:'20' }}</div>
            <div class="col">{{ article.create_at|date:"Y H:i" }}</div>
            <div class="col">{{ article.get_status_display }}</div>
            <div class="col">
                <a class='js-delete' href="/user/delete-book/{{article.id}}">delete</a>
                <a href="/user/change-book/{{article.id}}">change</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script>

    $('.js-delete').click(function (event) {
        if (!confirm('?????????')) {
            event.preventDefault();
        }
    })
</script>
{% endblock %}