{% extends 'index.html' %}
{% block content %}
<h1>Test form </h1>
    <form action="/test-form/" method="post">
    {% csrf_token %}
        {% for field in form %}
            <div>
                <label for="">{{ field.label }}</label>
            {{ field }}
            </div>
            {% if field.errors %}

            {{ field.errors }}
            {% endif %}
        {% endfor %}
        <button>Submit form!</button>
    </form>
{% endblock %}