{% extends 'index.html' %}

{% block content %}
<h1>length {{ request.session.read_article|length }}</h1>
<div class="book-wrapper row">
    {% for article in all_articles %}
    <div class="col-md-4">
        <p class="alert alert-primary row ">
            <a class="col-md-8" href="/user/book-detail/{{article.id}}">{{ article.title }}</a>
            <a class="btn btn-link col-md-4"
               href="/user/delete_from_sess/{{article.id}}">Удалить</a>
        </p>
    </div>
    {% empty %}
    <h1>List empty!!!!</h1>
    {% endfor %}
</div>
{% endblock %}