{% extends 'auth_app/cabinet.html' %}

{% block right_col %}
<form action="/user/write_post/" method="post">
    {% csrf_token %}
    {% for field in article_form %}
    <div>
        <label for="">{{field.label}}</label>`
        {{field}}
        {% if field.errors %}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    <button>Save</button>
</form>

{% endblock %}