{% extends 'index.html' %}

{% block content %}
<h1>Exam[ple page!!!!</h1>

<h2>All objects</h2>

{% for obj in all_objects %}
<p>
    <a href="/example/{{obj.id}}">{{obj.char}} - {{ obj.get_select_display }}</a>
</p>
{% endfor %}
<!--{{ form.as_ul }}-->

<form action="." method="post">
    {% csrf_token %}
    {% for field in form %}
    {% if field.errors %}
    {% for err in field.errors %}
    <p style="color: red;"> {{ err }}</p>
    {% endfor %}
    {% endif %}
    <div class="form-group">
        <label for="">{{ field.label }}</label>
        {{field}}
    </div>
    {% endfor %}
    <button>Save!</button>
</form>

<input id='name' type="text" placeholder="Name ....">
<input id='surname' type="text" placeholder="Surname ....">
<p data-url='asdasdasdasd' id="result">Lorem ipsum.</p>
<button id="btn">Get full name!</button>

<button id="change_style">change color to red!</button>


<script>
    // // alert('asdasd');
    // var a = 5;
    // var b = 123.3;
    // var l = [1, 2, 3, 45];
    // var t = {
    //     'key': 'value',
    //     'key1': {
    //         'ke2': [1, 2, 3, 4]
    //     },
    //     'a': null
    // };
    // console.log(t['h']);
    // console.log(t['a']);
    // console.log('a', a);
    // var u = undefined;
    // var n = null;
    // for (var i = 0; i < 10; i++) {
    //     if(i % 2 == 0){
    //         console.log('4et!' , i);
    //     } else {
    //         console.log('ne4et', i);
    //     }
    // }
    // var x  = 10;
    // while(x> 0){
    //     console.log(x);
    //     x--;
    // }
    // function fun(){
    //     var a  = 14;
    //     for(var i = 4; i< 15; i++){
    //         if(i==12){
    //             break;
    //         } else if (i ==6){
    //             alert('i=6');
    //         }else{
    //             console.log('iter in function ' , i);
    //         }
    //     }
    //     console.log(i);
    //     return true;
    // }
    // var result  = fun();
    // console.log('result is ' , result);


    // console.log($);

</script>

{% endblock %}

{% block js %}
<script>
    var output = document.getElementById('result');
    var change_style = document.getElementById('change_style');
    var btn = document.getElementById('btn');

    function click_handler() {
        alert('btn clicked!!!');
    }

    btn.addEventListener('click', function(event){
        // console.log(event);
        var name  = document.getElementById('name');
        var surname  = document.getElementById('surname');
        var result = "Full name : " + name.value + ' ' + surname.value;
        output.innerHTML = result;

        console.log(result);

    });

    change_style.addEventListener('click' , function(){
        output.style.fontSize = '32px';
        output.style.color = 'red';
        output.style.border = '2px dashed red';

    })
    // console.log(a, btn);
    // alert('asdasd');
</script>
{% endblock %}