{% extends 'index.html' %}


{% block content %}
<h1>Table page!!!</h1>

{% if request.user.is_authenticated %}

<h1>hello {{request.user}}</h1>
<button id="create" class="btn btn-primary">Create table row!</button>

<div class="col-md-6" style="display: none;" id="form_wrap">
    <form action="/example/form-handler/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">price</label>
            <input type="number" name="price" class="form-control" id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% else %}
<p class="alert alert-warning"> Please login!</p>
{% endif %}


<h1>All rows! ({{all_rows|length}})</h1>

{% if request.user.is_authenticated %}
    <h1>Total price   - {{total_price}} $</h1>
{% endif %}

<div class="row">
    <div class="col-md-3">Number</div>
    <div class="col-md-3">Title</div>
    <div class="col-md-3">Price , $</div>
    <div class="col-md-3">Action</div>
    __________
    <div style="height: 1px; background: black;"></div>
</div>
{% for row in all_rows %}
<div class="row" id="hide_row_{{row.id}}">
    <div class="col-md-3">{{row.id}}</div>
    <div class="col-md-3">{{row.title}}</div>
    <div class="col-md-3">{{row.price}}</div>
    <div class="col-md-3">
        {% if request.user.id == row.user.user.id %}
        <button class="js-edit-btn" data-asdf="row_{{row.id}}">Edit</button>
        <a href="/example/delete_row/{{row.id}}">Delete</a>
        {% else %}
        <p class="alert alert-danger">Readonly!!!!!</p>
        {% endif %}
    </div>
    <hr>
    <hr>
    <hr>
    <hr>
</div>
{% if request.user.id == row.user.user.id %}
<form action="/example/update_row/"
      style="display: none;" id="row_{{row.id}}" method="post">
    {% csrf_token %}
    <input type="hidden" name="row_id" value="{{row.id}}">
    <div class="row">
        <div class="col-md-3">{{forloop.counter}}</div>
        <div class="col-md-3">
            <input type="text" name="new_title" value="{{row.title}}">
        </div>
        <div class="col-md-3">
            <input type="number" name="new_price" value="{{row.price}}">
        </div>
        <div class="col-md-3">
            <button>Save!</button>
        </div>
    </div>

</form>
{% endif %}

{% endfor %}


{% endblock %}


{% block js %}
<script>

    var btn_create = document.getElementById('create');
    var form_wrap = document.getElementById('form_wrap');

    btn_create.addEventListener('click', function (e) {
        form_wrap.style.display = 'block';
    })

    $('.js-edit-btn').click(function () {
        var target_id = $(this).data('asdf');
        $('#' + target_id).show();
        $('#hide_' + target_id).hide();
        console.log(this, target_id);
    })

</script>

{% endblock %}