<!--<header>-->
<!--    <a class = "{% if tab == 'home' %} active-tab {% endif %}" href="/">Home page</a>-->
<!--    <a class = "{% if tab == 'calc' %} active-tab {% endif %}" href="/calculator">Calculator</a>-->
<!--    <h1>This is header!!!!!</h1>-->
<!--</header>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if tab == 'home' %} active {% endif %}">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if tab == 'calc' %} active {% endif %}" href="/calculator/">Calculator</a>
      </li><li class="nav-item">
        <a class="nav-link" href="/example/">example</a>
      </li><li class="nav-item">
        <a class="nav-link" href="/example/table/">table</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
 <a href="/user/wish-list/" class="btn btn-warning">Не забыть почитать
        ({{ request.session.read_article|length }})</a>
  <a href="/user/articles/">Статьи от пользователей</a>

  <span s></span>{{ request.user }}
    {% if request.user.is_authenticated %}
    <a class="btn btn-info" href="/user/cabinet/">Мой кабинет</a>

    <a class="btn btn-success" href="/user/logout/">Выход({{ request.user.username }})</a>
    {% else %}
    <a href="/user/login/" class="btn btn-success">Вход</a>
    <a href="/user/register/" class="btn btn-primary">Регистрация</a>
    {% endif %}
</nav>